
<footer>
    <div class="container-fluid py-5" id="footer1"  >
      <div class="row g-3">
        <div class="col-md-4">
          <h2>LOCATION</h2>
          <p class="py-2">2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
        <div class="col-md-4">
          <div class="socialLinks">
            <h2>AROUND THE WEB</h2>
            <ul>
              <li>
                <a class="links"><i class="fa-brands fa-facebook"></i></a>
              </li>
              <li>
                <a class="links"><i class="fa-brands fa-twitter"></i></a>
              </li>
              <li>
                <a class="links"><i class="fa-brands fa-linkedin"></i></a>
              </li>
              <li>
                <a class="links"><i class="fa-solid fa-globe"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <h2>ABOUT FREELANCER</h2>
          <p class="py-2" >Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
      </div>
    </div>

  <div class="container-fluid text-center py-2" id="footer2">
    <p class="py-1">Copyright © Your Website {{currentYear}}</p>
  </div>
</footer>
